<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JetstreamServiceNET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JetstreamServiceNET.Properties.Settings>
            <setting name="LanguageID" serializeAs="String">
                <value>DE-CH</value>
            </setting>
            <setting name="WindowsHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="WindowsWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="JWTToken" serializeAs="String">
                <value>jwt</value>
            </setting>
            <setting name="APILink" serializeAs="String">
                <value>https://localhost:7253</value>
            </setting>
            <setting name="registrationLink" serializeAs="String">
                <value>/api/Registration/</value>
            </setting>
            <setting name="userLink" serializeAs="String">
                <value>/api/User/</value>
            </setting>
        </JetstreamServiceNET.Properties.Settings>
    </userSettings>
</configuration>